footer.container.py-5
    .row
        .col-md-6
            nav.nav.footer.justify-content-center.justify-content-md-start
                a.nav-link(href="/nosotros") Nosotros
                a.nav-link(href="/viajes") Viajes
                a.nav-link(href="/testimoniales") Testimoniales

        .col
            p.copyright.text-center.text-md-right
                | Todos los Derechos Reservados 
    
                span= actualYear

                <div class="contenedor-firma">
                    <div class="waviy">
                        <p class="parrafo">By</p>
                        <span style="--i:1">C</span>
                        <span style="--i:2">R</span>
                        <span style="--i:3">I</span>
                        <span style="--i:4">S</span>
                        <span style="--i:5">T</span>
                        <span style="--i:6">I</span>
                        <span style="--i:7">A</span>
                        <span style="--i:8">N</span>
                    </div>
                </div>